# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.go text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
